<% if @result.respond_to?(:each) # We are dealing with a collection of objects %>
  <% @result.each do |all_types_object| %>
    <%= render 'all_types_objects/show', :all_types_object => all_types_object %>
  <% end %>
<% else # We are dealing with a simple value %>
  <p><%= @result %></p>
<% end %>

<%= link_to 'Back', read_test_class_by_sql_form_path(params[:method], params[:option]) %>