<h1>New all_types_object</h1>

<%= form_for(@all_types_object, :url => create_test_create_path) do |f| %>
  <%= render 'all_types_objects/fields', :f => f %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Root', root_path %>